$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$link-color: BlueViolet;
$secondary-color: lightblue;
$third-color: red;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

h1 {
    color: $third-color;
}

h2 {
    color: $secondary-color;
    $font-stack;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li { display: inline-block; }

    a { 
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}